/* General css */
body {
    font-family: 'Poppins', sans-serif;
    color: #383027;
    
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 p{
    font: normal normal normal 15px/22px Poppins;
 }

 img {
    vertical-align: top !important;
    display: inline-block !important;
    width: 100%;
  }

 
    .up-arrow{
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }  

  /* ------------------
        sidebar
  ----------------------*/
  .sidebar{

    position: fixed;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .sidebar-links{
      list-style-type: none;
      
  }

  .sidebar-links a{
      text-decoration: none;
      color: black;
      display: inline-block;
      margin-bottom: 10px;
      font-size: 1.5rem;
  }

  .sidebar-workforcelogin button,
  .sidebar-contact button
    {
      font-size: 1.5rem;
      background: transparent;
  }

  .close-btn{
      position: absolute;
      top:1rem;
      right: 1rem;
      font-size: 2rem;
      background: transparent;
      border: transparent;
      color:#bb2525

  }
  .nav-btn{
    display: none;
    
  }

  .show-sidebar {
    
    transform: translateX(0);
  
}
  /* active nav link */



.nav-links .active{
  
    color: #28367D;
   
  }
.nav-links a:hover{
    color: #28367D;

}

.workforcelogin a:hover{
    color:#FFFFFF;
    background: #28367D;
}
.contact a:hover{
    color: #28367D;
    background: #E1E1E1;
}


  .bottom-nav .bottom-nav-links{
      display: none;
  }

  .container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }

 
  button{
    border-radius: 20px;
    padding: 5px 20px;
    border: none;
    
  }
  .navbar {
    display: flex;
    padding-top: 18px;
   
  }
  .nav-logo {
    flex: 0 0 20%;
    max-width: 20%;
   
  }

  .nav-list {

    flex: 0 0 80%;
    max-width: 80%;
    
  } 
  .nav-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
  }
  .nav-phone{
   
   display: flex;
   justify-content: flex-end;
  }

  .nav-phone a{
      text-decoration: none;
      color:#212121
  }

  .nav-links{
      padding-top: 20px;
  }
  .nav-links li {
    list-style: none;
    padding: 0 0 0 40px;
  }
  .nav-links a {
    text-decoration: none;
    color: black;
  }

  .nav-menu{
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 10px;
    color: #fff;
  }
 
  .workforcelogin a{
    background: #E1E1E1;
    border-radius: 20px;
    padding: 7px 20px;
    color: #28367D;
    font-weight:600;
   
  }


  .contact a{
    background-color: #28367D;
    padding: 7px 20px;
    border-radius: 20px;

      color: #fff;
    font-weight:600

  }


  /* home */


  .cannon-group-wrapper{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      position: relative;
      margin-top: 30px;
      
  }

  .cannon-group-info{
      flex: 0 0 50%;
      max-width: 50%;
      padding-right: 60px;
  }

  .cannon-group-banner{
      flex: 0 0 50%;
      max-width: 50%;
  }

  .cannon-group-banner img{
      background-position: center;
      background-size:cover;
      background-repeat: no-repeat;
      width: 100%;
         
  }


  /* .dash-line{
        width: 30px;
        margin: 0 auto;
        margin-top: -20px;
        border: 1px solid #28367D;
  } */
  /* .underline{
    width: 30px;
    margin: 0 auto;
    border: 1px solid #28367D;
    margin-top: -10px;
    float: left;
  } */
  .cannon-group-info h5{
    margin-top: 10px;
}

.cannon-group-info p{
    margin-top: 5px;
    margin-bottom: 28px;
}


.cannon-group-info a{
  
    border-radius: 30px;
    padding: 8px 20px;
    text-decoration: none;
    
}
.cannon-group-info .aboutUs{
    background: #E1E1E1 0% 0% no-repeat padding-box;
    color: #28367D;
    font-weight: 600;


}
.cannon-group-info .contactUs{
    background: #28367D 0% 0% no-repeat padding-box;
   font-weight: 600;
    margin-left: 20px;
    color: #FFFFFF;
}

/* statistics */

.statistics-wrapper{

    text-align: center;
    margin-top: 60px;
   /* padding: 0 50px; */
   margin: 0 auto;
   margin-top: 60px;
}

.statistic-info{
  
    margin-top: 30px;
   display: flex;
   text-align: left;
   justify-content: space-between;
   align-items: center;
   /* background-color: red; */
  
}


.info1,.info2,.info3{
    flex: 0 0 calc(33.333% - 90px);
    max-width: 33.333%;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    
}



.stat-img-info{

    padding-left: 20px;
   
}


.stat-img-info .contact-negotiation,
.stat-img-info .mobile-tickets,
.stat-img-info .statisfaction-rating
{
    
    color: #28367D;
    font-size: 25px;
   
}

.under-line{

    position: relative;

}

.under-line h3::before{

    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    top: 30px;
    left:0;
    background: #28367D;
}
.dash-line
{   
     position: relative;
}
.dash-line h2::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    top: 35px;
    left: 48%;
    background: #28367D;

}



/* enterprise tech assessment */

.enterprise-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 80px;
    justify-content: space-between;
   
}

.enterprise-info{
    flex: 0 0 55%;
    max-width: 55%;
    padding-right: 104px;

    
}

.enterprise-banner
{
    flex: 0 0 45%;
    max-width: 45%;

  
}

.banner{
    position: relative;
}


.banner::before{
    content:"";
    position: absolute;
    z-index: -1;
    background:#28367D;
    top:15px;
    left: -15px;
    bottom: 15px;
    right: 15px;
    border-radius: 10px;
}

.right-banner{
    position: relative;
}

.right-banner::after{
    content:"";
    position: absolute;
    z-index: -1;
    background:#28367D;
    top:15px;
    left: 15px;
    bottom: 15px;
    right: -15px;
    border-radius: 10px;
}

.home-banner{
    position: relative;
}
.home-banner::after{
    content:"";
    position: absolute;
    z-index: -1;
    background:#28367D;
    top:15px;
    left: 15px;
    bottom: -15px;
    right: -15px;
    border-radius: 10px;
}

.enterprise-banner img,
.technology-migration-banner img,
.orchestration-management-banner img,
.cost-containment-banner img,
.case-study img,
.news-events img,
.map img{

    
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
       
    }
  
    
.enterprise-info h5{
    margin:10px 0
}

.home-link{
    text-decoration: none;
    
  
}


.sub-head{

    color:#28367D;
    margin-bottom: 10px;

    
   
}



.technology-migration-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 80px;
    justify-content: space-between;
    
}


.technology-migration-info{
    flex: 0 0 55%;
    max-width: 55%;
    padding-left: 104px;
   
}

.technology-migration-banner{
    flex: 0 0 45%;
    max-width: 45%;


}


.technology-migration-info h2{
    margin-bottom: 5px;
}


.technology-migration-info h5,
.technology-migration-info p{
    margin-bottom: 10px;
}

.technology-migration-info img{
    color:#28367D;

}




/* orchestration management */

.orchestration-management-wrapper{
    display: flex;
    flex-wrap: wrap;
   align-items: center;
    position: relative;
    margin-top: 80px;
    justify-content: space-between;
}

.orchestration-management-info{
    flex: 0 0 55%;
    max-width: 55%;
    padding-right: 104px;
}

.orchestration-management-banner{
    flex: 0 0 45%;
    max-width: 45%;

}

.orchestration-management-wrapper h2{

    margin-bottom: 5px;
}

.orchestration-management-info h5{
    margin-bottom: 10px;
}

.orchestration-management-info p{
    margin-bottom: 9px;
}

.cost-containment-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    margin-top: 80px;
    justify-content: space-between;
}

.cost-containment-info{
    flex: 0 0 55%;
    max-width: 55%;
    padding-left: 104px;
}

.cost-containment-banner{
    flex: 0 0 45%;
    max-width: 45%;
}

.cost-containment-info h2{
    margin-bottom: 5px;

}

.cost-containment-info h5{
    margin-bottom: 10px;

}

.cost-containment-info p{
margin-bottom: 10px;
}


/* fortune companies */

.fortune-companies .container{
    max-width: 100%;
}
.fortune-companies-wrapper{
    text-align: center;
    background: #f8f8ff	 0% 0% no-repeat padding-box;
    padding: 30px 0;
    margin-top: 80px;
    
}
.slideshow-container{
    margin-top: 39px;
}



.owl-prev {
float: left;
transform: translateY(-150%);
}


.owl-theme .owl-nav [class*=owl-]{
    background-color: transparent;
}
.owl-next{
    float: right;
transform: translateY(-150%);

}


.testimonal{
    padding: 0 80px;
}

.company-logo{
    margin: 0 auto;
}
.case-study-event{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    
}
.case-study{
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.news-events{
    position: relative;
}
.case-study-title{
    position: absolute;
    bottom:20px;
    left: 40px;
    color: #fff;
    text-transform: uppercase;
    font: normal normal 600 15px/22px Poppins;
}

.event-title{
    position: absolute;
    bottom:20px;
    left: 40px;
    color: #fff;
    text-transform: uppercase;
    font: normal normal 600 15px/22px Poppins;
}
.case-study,.news-events{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}
.contact-outline-wrapper .container{
    max-width: 100%;
}
.contact-outline{
    text-align: center;
    background: url('../Images/Group\ 390.jpg') center/cover no-repeat ;
    color: #fff;
    padding: 20px 0 41px 0;
    margin-top: 80px;
}

.contact-outline .dash-line h2::before{
    background: #FFFFFF;

}

.contact-outline .contact-us-btn{
    margin-top: 32px;
}

.contact-us{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.contact-us-btn,
.contact-us-btn-about{
    padding: 8px 20px;
    font: normal normal 600 15px/30px Poppins;
    color: #28367D;
}

.map,.contact-data{
    flex:0 0 50%;
    max-width: 50%;
}

.map img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.contact-data{
    padding: 0 40px;
    margin-top: 0;
   
}

.contact-data h2{
    margin-top: 0;
}


.location,.phone,.email{
    display: flex;
}

.actual-address,.phone-number,.email-address{
    padding-left: 25px;
}

.phone-number a,
.email-address a{
    color: #212121
}


.footer-section .container{
    background-color: #E9EAF2;
    max-width: 100%;
}

.footer-wrapper{
    /* position: fixed; */
   left: 0;
   bottom: 0;
   max-width: 1170px;
   display: flex;
   margin: 0 auto;
    
    /* padding:90px 65px 45px 72px; */
    
}


.footer-logo{
    width: 300px;
    height: auto;
}

.fb-insta{
   
   
    margin-top: 30px;
    display: flex;
    /* justify-content: space-between; */
    margin-left: 80px;

}

.fb-insta img{
    flex: 0 0 30%;
    max-width: 30%;
}

  
  .fb-insta img{
    margin: 0 30px;
    
  }


.cannon-group-logo,
.signup,
.quick-links{
   
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding-top: 20px;
   
   
}


.signup h5{
    margin-bottom:10px;
}

.signup input{
    border:none;
    border-radius: 20px;
    height: 36px;
    width: 344px;
    border-color: transparent;

   
}


::placeholder {
    color: #707070;
    opacity: 50%;
    font-size: 14px;
    

  }

  input,
  textarea{

    padding:7px 20px;
}


.signup button{
    padding: 7px 20px;
    background-color: #28367D;
    color: #fff;
   margin-top: 20px;
  
}



.quick-links li{
    list-style-type: none;
    text-transform: capitalize;
}

.quick-links li a{
    text-decoration: none;
    color:#212121

}

.font-awesome-icon{
    color: blue;
   
}


/* ---------------------------------- ABout ------------------------------------------------- */

.schedule-project-assessment-call-wrapper{
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.schedule-project-assessment-call-info,
.schedule-project-assessment-call-banner{
    flex: 0 0 50%;
    max-width: 50%;
}
.schedule-project-assessment-call-info{
    padding-left: 65px;
}

.schedule-project-assessment-call-info h2{
    margin-bottom: 10px;

}

.schedule-project-assessment-call-info p{
    margin-bottom: 20px;
} 


.schedule-project-assessment-call-info a{
    
    color:#212121
}


.combining-human-intelligence .container{
    max-width:100%;
}

.combining-human-intelligence-wrapper{
    background:linear-gradient(rgba(40, 54, 125, 0.5),rgba(40, 54, 125, 0.8)),url('../Images/Mask\ Group\ 17.jpg') center/cover no-repeat;

    color: #FFFFFF;
    padding: 87px 365px;
    height: 350px;
    text-align: center;
    margin-top: 15px;
}

.combining-human-intelligence-wrapper h2{
    margin-bottom: 10px;
    font-weight: 600;

}

.combining-human-intelligence-wrapper p{
    /* max-width: 564px; */
  
}

.gain-operational-fitness{
    background: url('../Images/Group\ 371.jpg');

}
.gain-operational-fitness-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.gain-operational-fitness-info,
.get-things-done-faster-info,
.our-expert-technology-info,
.engaged-service-support-info{
    flex: 0 0 calc(50% - 30px);
    max-width: 50%;
}

.gain-operational-fitness-info h2{
    padding-right: 103px;
    font: normal normal 600 30px/46px Poppins;
    margin-bottom: 10px;

}

.get-things-done-faster-info h2{
    padding-right: 6px;
    font: normal normal 600 30px/46px Poppins;
    margin-bottom: 10px;


}

.our-expert-technology-info h2{
    padding-right: 59px;
    font: normal normal 600 30px/46px Poppins;
    margin-bottom: 10px;

}

.engaged-service-support-info h2{
    padding-right: 29px;
    font: normal normal 600 30px/46px Poppins;
    margin-bottom: 10px;


}
.gain-operational-fitness-info p{
    padding-right: 65px;
    font: normal normal normal 15px/22px Poppins;
    padding-bottom: 80px;
}

.get-things-done-faster-info p{
    padding-right: 100px;
    font: normal normal normal 15px/22px Poppins;
    padding-bottom: 80px;


}

.our-expert-technology-info p{
    padding-right: 43px;
    font: normal normal normal 15px/22px Poppins;

}

.engaged-service-support-info p{
    padding-right: 100px;
    font: normal normal normal 15px/22px Poppins;

}

/* ------------------------------- Solutions ------------------------------------- */
.call-email-us-wrapper{
    display: flex;
    margin-top: 60px;
}

.call-email-us-wrapper h2{
    margin-bottom: 20px;
}

.call-email-us-wrapper a{
    display: block;
    color:#212121
}
.call-us-phone,.call-us-fax,.call-us-agent{
    display: flex;
}
.phone-data,.fax-data,.agent-data{
    padding-left: 20px;
}

.call-us-fax,.call-us-agent{
    margin-top: 33px;
}

.email-us-data a{
    display: inline-block;
    color: #28367D;
}


.email-us-inputs input

{
width: 750px;
height: 36px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #B7B7B7;
border-radius: 20px;
margin: 20px 0;
}

.email-us-inputs textarea{
    width: 750px;
height: 72px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #B7B7B7;
border-radius: 20px;
margin: 20px 0;

}

.email-us-submit-btn button{
    background: #28367D 0% 0% no-repeat padding-box;
border-radius: 20px;
padding: 7px 21px;
color: #FFFFFF;


}

.email-us-data{
    padding-left: 120px;
}

.contact-us .container{
    max-width: 100%;
}

.contact-us-solution{
    margin-top: 60px;
}

.free-project-assessment-meeting-wrapper{
    display: flex;
    align-items:center ;
    margin-top: 80px;
   
}

.free-project-assessment-meeting-info,
.free-project-assessment-meeting-banner{
    flex: 0 0 50%;
    max-width: 50%;
}
.free-project-assessment-meeting-info{
    padding-left: 49px;
}

.free-project-assessment-meeting-info h2{
    margin-bottom: 10px;
}

.free-project-assessment-meeting-info p{
    margin-bottom: 20px;
}


.get-in-touch-with-us .container{
    max-width: 100%;
}
.get-in-touch-with-us-wrapper{
    margin-top: 15px;
    background:linear-gradient(rgba(40, 54, 125, 0.5),rgba(40, 54, 125, 0.8)),url('../Images/Mask\ Group\ 17.jpg') center/cover no-repeat;

    color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
    height: 350px;

    
}

.get-in-touch-with-us-wrapper h2{
    font: normal normal 600 35px/53px Poppins;

}

/* ----------------------------------------Resources -------------------------------- */

.hybrid-approach .container{
    max-width: 100%;
}
.hybrid-approach-wrapper{
    background:linear-gradient(rgba(40, 54, 125, 0.5),rgba(40, 54, 125, 0.8)),url('../Images/Mask\ Group\ 17.jpg') center/cover  no-repeat;

    /* background: #28367D; */
    padding:90px 0;
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;
    height: 350px;

}

.hybrid-approach-wrapper .sub-head{
    color:#FFFFFF
}

.hybrid-approach-wrapper h2{
    margin-bottom: 10px;
    font: normal normal 600 35px/53px Poppins;
}

.hybrid-approach-wrapper img{
    margin-left: 17px;
}

/* .gain-partner-with-extensive-telecom-industry{
    background: url('../Images/Group\ 371.jpg');
} */

.gain-partner-with-extensive-telecom-industry-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

}
.gain-partner-with-extensive-telecom-industry-info1,
.gain-partner-with-extensive-telecom-industry-info2{
    flex: 0 0 calc(50% - 30px);
    max-width: 50%;
}

.gain-partner-with-extensive-telecom-industry-wrapper img{
    
    border-radius: 10px;
}

.gain-partner-with-extensive-telecom-industry-info1 h2{
    padding-right: 138px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.gain-partner-with-extensive-telecom-industry-info1 p{
    padding-right: 57px;
}


.gain-partner-with-extensive-telecom-industry-info2 h2{
    padding-right: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.gain-partner-with-extensive-telecom-industry-info2 p{
    padding-right: 57px;
    font: normal normal normal 15px/22px Poppins;
}


.discover-assess-deliver-wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
}

.discover-assess-deliver-wrapper img{
    width: 60px;
    height: 60px;
}

.discover-assess-deliver-info1,
.discover-assess-deliver-info2,
.discover-assess-deliver-info3{

    flex: 0 0 calc(33.333% - 48px);
    max-width: 33.333%;
    display: flex;
    align-items: center;
}

.discover-assess-deliver-info1-data,
.discover-assess-deliver-info2-data,
.discover-assess-deliver-info3-data{
    padding-left: 30px;
}

.discover-assess-deliver-wrapper h5{
    color:#28367D;
    margin-bottom: 5px;
}

.use-actionable-benchmarking-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.use-actionable-benchmarking-info1,
.use-actionable-benchmarking-info2{
    flex: 0 0 calc(50% - 30px);
    max-width: 50%;
}

.use-actionable-benchmarking-wrapper img{
    border-radius: 10px;
}

.use-actionable-benchmarking-info1 h2{
    padding-right: 87px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.use-actionable-benchmarking-info1 p{
    padding-right: 49px;


}


.use-actionable-benchmarking-info2 h2{
    padding-right: 100px;
    margin-top: 20px;
    margin-bottom: 10px;

}


.use-actionable-benchmarking-info2 p{
    padding-right: 24px;

}


.handle-all-things-telecom-wrapper{

    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  
  .handle-all-things-telecom-info,
  .handle-all-things-telecom-banner{
    flex: 0 0 calc(50% - 30px);
    max-width: 50%;
    /* background-color: red; */
  }

  
 
  
  .handle-all-things-telecom-info ul  {
    list-style: none;
    position: relative;
    margin: 0 20px;

  
    
  }
  
  .handle-all-things-telecom-info ul li::before {
    content: "\2022";
    display: inline-block;
    color: #28367D;
     max-width: 1em;
     position: absolute;
    left:-15px;
   
  }
  
  .handle-all-things-telecom-info ul li p{
      margin-left: 20px;
      
  }
  .handle-all-things-telecom-info h2{
    margin-bottom: 10px;
    
  }

  .handle-all-things-telecom-info ul .and-more::before {
    content: "";
    display: inline-block;
    
     max-width: 1em;
     position: absolute;
    left:-15px;
   
  }

  .stay-informed-latest-tech .container{
      max-width: 100%;
  }
  .stay-informed-latest-tech-wrapper{
      padding: 40px 170px;
      background:url('../Images/Group\ 390.jpg') center/cover no-repeat;
      color:#FFFFFF;
      margin-top: 60px;
      text-align: center;
  }

  .stay-informed-latest-tech-wrapper h2{
      margin-bottom: 10px;
  }



  .schedule-enterprise-optimization-wrapper{
    display: flex;
    align-items: center;
    margin-top: 60px;
    justify-content: space-between;
}

.schedule-enterprise-optimization-info,
.schedule-enterprise-optimization-banner{
    flex: 0 0 calc(50% - 30px);
    max-width: 50%;
}
/* .schedule-enterprise-optimization-info{
    padding-left: 65px;
} */

.schedule-enterprise-optimization-info h2{
    margin-bottom: 20px;

}

.schedule-enterprise-optimization-info p{
    margin-bottom: 10px;
} 

.schedule-enterprise-optimization-info .assessment-call{
    margin-bottom: 10px;
}

.schedule-enterprise-optimization-info a{
    color:#212121
}

.contact-us-resource .container{
    max-width: 100%;
}
.contact-us-resource .contact-us{
    margin-top: 60px;
}
 

/* ------------------------------------------- work force login------------------------ */


.tech-migration .container{
    max-width: 100%;
}
.tech-migration-wrapper{
    background:linear-gradient(rgba(40, 54, 125, 0.5),rgba(40, 54, 125, 0.8)),url('../Images/Mask\ Group\ 17.jpg') center/cover no-repeat;
    /* background: #28367D; */
    padding: 87px 0;
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;
    height: 350px;

}

.tech-migration  .sub-head{
    color:#FFFFFF
}

.tech-migration  h2{
    margin-bottom: 10px;
    font: normal normal 600 35px/53px Poppins;
}
.tech-migration  p{
    margin-bottom: 10px;
}

.tech-migration  img{
    margin-left: 10px;
}



.get-migration-done-fast-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 80px;
   
}

.get-migration-done-fast-info{
    flex: 0 0 55%;
    max-width: 55%;
    padding-right: 104px;
    
}

.get-migration-done-fast-banner{
    flex: 0 0 45%;
    max-width: 45%;
}

  
    
.get-migration-done-fast-info h5{
    margin:10px 0
}


.new-telecom-tech-wrapper{
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.new-telecom-tech-info{
    flex: 0 0 53%;
    max-width: 53%;
}
.new-telecom-tech-banner
{
    flex: 0 0 47%;
    max-width: 47%;
}

.new-telecom-tech-info{
    padding-left: 66px;

}

.new-telecom-tech-info h2{
    margin-bottom: 10px;
}

.new-telecom-tech-info .new-telecom-tech-info-para{
    margin-bottom: 20px;
}
.new-telecom-tech-info h5{
        margin-bottom: 5px;
        color: #28367D;
}

.new-telecom-tech-info-plan{
    margin-bottom: 20px;

}
.get-everything-outfitted-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.get-everything-outfitted-info,
.get-everything-outfitted-banner
{
    flex: 0 0 calc(50% - 30px);
}

.contact-us-contact .container{
    max-width: 100%;
    margin-top: 60px;
}
/* ------------------------------------- Media Query--------------------------------------------- */


@media screen and (max-width : 1118px){

   



}


@media screen and (max-width : 1041px){

.info1,.info2,.info3{
    flex: 0 0 calc(33.333% - 60px);
    max-width: 33.333%;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    
}

}
@media screen and (max-width : 1086px){
    
    .nav-links li {
        padding: 0 0 0 30px;
      }
}

@media screen and (max-width : 1011px){
    
    .nav-links li {
        padding: 0 0 0 20px;
      }
}

@media screen and (max-width : 1056px){
    .orchestration-management-info{
        padding-right: 80px;
    }

    .cost-containment-info{
        padding-left: 80px;
    }

    .technology-migration-info{
        padding-left: 80px;
        
    }

    .enterprise-info{
        padding-right: 80px;
    }
}


@media screen and (max-width : 1003px){
    .orchestration-management-info{
        padding-right: 50px;
    }

    .cost-containment-info{
        padding-left: 50px;
    }

    .technology-migration-info{
        padding-left: 50px;
        
    }

    .enterprise-info{
        padding-right: 50px;
    }

    
}

@media screen and (max-width : 948px){
    .orchestration-management-info{
        padding-right: 30px;
    }

    .cost-containment-info{
        padding-left: 30px;
    }

    .technology-migration-info{
        padding-left: 30px;
        
    }

    .enterprise-info{
        padding-right: 30px;
    }

    .stat-img-info .contact-negotiation,
.stat-img-info .mobile-tickets,
.stat-img-info .statisfaction-rating
{
    
    color: #28367D;
    font-size: 25px;
   
}





}

@media screen and (max-width : 900px){

    .footer{
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 15px;
    }
    .cannon-group-logo,
    .signup,
    .quick-links{
        margin: 0 ;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .cannon-group-logo,
    .signup{
        margin-bottom: 30px;
    }
}

@media screen and (max-width : 950px){

    .info1,.info2,.info3{
        flex: 0 0 calc(33.333% - 40px);
        max-width: 33.333%;
        display: flex;
        justify-content: flex-start;
        align-items:center;
        
    }


    @media screen and (max-width : 980px){

        .info1,.info2,.info3{
            flex: 0 0 calc(33.333% - 20px);
            max-width: 33.333%;
            display: flex;
            justify-content: flex-start;
            align-items:center;
            
        }



 
 }


@media screen and (max-width : 952px){

body{
    margin-bottom: 100px;
}
.nav-links {
    display:none

   }


   .bottom-nav .bottom-nav-links{
    width: 100%;
    position: fixed;
    bottom:-20px;
    background: #FFFFFF;
    padding: 20px 0;
    display: flex;
    z-index: 2;
    text-align: center;
    height: 100px;
    }
    .bottom-nav img{
      width: 30px;
      height: 30px;
      
    }
    .bottom-nav a{
      text-decoration: none;
      color: black;
    
    }
   .line {
    border: 1px solid #383027;
    width: 0;
    height: 40px;
    background-color: #319647;
  }

    .bottom-nav li{
    list-style: none;
     flex: 0 0 25%;
     max-width: 25%;
   }


}


@media screen and (max-width : 858px){
    
    .nav-links li {
        padding: 0 0 0 15px;
      }

      /* statistics 100% */
/*  */

}

@media screen and (max-width : 825px){
    
    .nav-links li {
        padding: 0 0 0 10px;
      }


      .statistic-info{
        flex-wrap: wrap;
    }
    /* .statistic-info .info1,
    .statistic-info .info2
   {
        
      flex: 0 0 50%;
      max-width: 50%;
      
      justify-content: center;


    } */

    /* .statistic-info .info3{
        flex:0 0 100%;
        max-width: 100%;
       justify-content: center;
       margin-top: 30px;
      
    } */

}

@media screen and (max-width : 812px){
    
    .cannon-group-wrapper{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .cannon-group-info,
    .cannon-group-banner{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        padding: 0;
    }

    .cannon-group-banner{
        flex: 0 0 90%;
        max-width: 90%;
    }



  .enterprise-wrapper{
      flex-wrap: wrap;
      justify-content: center;
      
  }
  .enterprise-info{

      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
      padding: 0;
        
  }

  .enterprise-banner{
      flex: 0 0 80%;
      max-width: 80%;
  }

  .technology-migration-wrapper{
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column-reverse;
  }

  .technology-migration-info{
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
      padding: 0;
  }
  .technology-migration-banner{
      flex: 0 0 80%;
      max-width: 80%;
     
  }

  .orchestration-management-wrapper{
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: column-; */
}

.orchestration-management-info{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding: 0;

}
.orchestration-management-banner{
    flex: 0 0 80%;
    max-width: 80%;
   
}

.cost-containment-wrapper{
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
}

.cost-containment-info{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding: 0;

}
.cost-containment-banner{
    flex: 0 0 80%;
    max-width: 80%;
   
}

  
}




@media screen and (max-width : 695px){


  
   .footer{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    
}


.cannon-group-logo,
.signup{
    margin-bottom: 20px;
}

.cannon-group-logo,.signup,.quick-links{
   
    padding: 0 ;
    flex: 0 0 100%;
    max-width: 100%;
   
}

}



@media screen and (max-width : 679px){
    /* hint : Get into and banners in one line */

.footer{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}



.cannon-group-logo,
.signup{
    margin-bottom: 20px;
}
.cannon-group-logo,.signup,.quick-links{
        padding: 0 ;


   
}

}


@media screen and (max-width : 612px){

    .statistic-info .info1,
    .statistic-info .info2,
    .statistic-info .info3

    {
        flex:0 0 100%;
        max-width: 100%;
        justify-content: center;
       
        margin-top: 30px;
    }

 
    .statistic-info .info3{
        padding-right:60px;
       
     }


   

}

@media screen and (max-width : 650px){

    .company-logo{
        margin: 0 40px;
    }

}
@media screen and (max-width : 768px){
    .contact-us{
        flex-wrap: wrap;
        flex-direction: column;
    }
 
    .map{
        flex: 0 0 100%;
        max-width: 100%;
    }
 
    .contact-data{
     flex: 0 0 100%;
     max-width: 100%;
     margin: 40px auto;
     padding: 0;
    

    
    }
 
}



@media screen and (max-width : 450px){

    .company-logo{
       
        margin: 0 20px;
       
    }

}


@media screen and (max-width : 540px){

   .contact-us{
       flex-wrap: wrap;
       flex-direction: column;
   }

   .map{
       flex: 0 0 100%;
       max-width: 100%;
   }

   .contact-data{
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
   
   }

   
}

@media screen and (max-width : 500px){

    .company-logo{
       
        margin: 0 30px;
    }
    
    .cannon-group-wrapper{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .cannon-group-info,
    .cannon-group-banner{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left;
        
      
    }


  .dash-line{
      margin: 0;
  }
  .statistics-wrapper{
      text-align: left;
  }
  .statistic-info .info1,
    .statistic-info .info2
    {
       
        justify-content: flex-start;
      
    }

    .statistic-info .info3{
       padding-right:150px;
      
    }

  .enterprise-wrapper{
      flex-wrap: wrap;
      justify-content: center;
      
  }
  .enterprise-info,
  .enterprise-banner
  {

      flex: 0 0 100%;
      max-width: 100%;
      text-align: left;
      padding: 0;
        
  }

 
  .technology-migration-info,
  .technology-migration-banner
  {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: left;
      padding: 0;
  }
 



.orchestration-management-info{
   
    text-align: left;
   
}
.orchestration-management-banner{
    flex: 0 0 100%;
    max-width: 100%;
   
}


.cost-containment-info{
  
    text-align: left;
    

}
.cost-containment-banner{
    flex: 0 0 100%;
    max-width: 100%;
   
}

.fortune-companies-wrapper .dash-line{
    margin: 0 auto;
}

.case-study,.news-events{
    flex: 0 0 100%;
    max-width: 100%;
}
.news-events{
    margin-top: 30px;
}

.contact-outline .dash-line{
    margin: 0 auto;
}

.contact-us{
    /* justify-content: flex-start; */
    align-items: flex-start;
   
}
.contact-data{
    margin: 40px 0;
   padding-left: 15px;
}



.footer{
    padding-left: 15px;
}



.cannon-group-logo,
.signup{
    margin-bottom: 20px;
}

.cannon-group-logo,.signup,.quick-links{
        padding: 0 ;

}
  
}

@media screen and (max-width : 433px){
    
    .statistic-info .info3{
        padding-right:80px;
       
     }

     .company-logo img{
         margin: 0 30px;
     }
}
}

@media screen and (max-width : 380px){
    .signup input{
        width: 270px;
    }
}




